---
layout: default
title: Russell Hoy | Web Developer
---

<section class="portfolio__header">
  <div class="intro-text">
  {% include shared/russell-hoy.html %}
    <p class="portfolio__header-text">Hello! I’m a young web developer who gets excited about building user-friendly interfaces and helpful tools.</p>
  </div>
</section>


<section class="profile">
    <div class="profile__inner">
    <h1 class="profile__header">About Me</h1>
    <img src="images/profile-pic.jpg" class="profile__pic" alt="profile picture of Russell Hoy">
    <div class="profile__description">
    <p>Web development has been my passion since I was 15. Since then I’ve also worked in internet marketing and studied political philosophy. Nowadays, my focus has converged on developing great user experiences and crafting intuitive interfaces. </p>
    </div>
    </div>
</section>

<section class="profile__cta">
      <h2> Get in touch; I'd love to chat.</h2>
     <a href="mailto:russell.hoy@gmail.com?sqs_title=Drop+me+a+line" class="primary-btn">Message Me <i class="fa fa-send"></i></a>
</section>

<section class="projects">
  <h1>Featured Projects</h1>
  <div class="project-display">
    {% for post in site.categories.works limit:1 %}
    <div class="projects__project_primary">            
      <div class="thumbnail">
      <img src='/images/posts/{{ post.img["thumb"] }}'>
      </div>
        <div class="caption">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <p>
            <a href="{{ post.url }}" class=" small-rnd-btn">Read more <i class="fa fa-angle-double-right"></i></a>
            </p>
        </div>
      </div>
  {% endfor %}

  <div class="projects__secondary">

      {% for post in site.categories.works limit:1 offset:1 %}
      <div class="projects__project">            
        <div class="thumbnail">
          <img src='/images/posts/{{ post.img["thumb"] }}'>
        </div>
          <div class="caption">
              <h3>{{ post.title }}</h3>
              <p>{{ post.description }}</p>
              <p><a href="{{ post.url }}" class=" small-rnd-btn">Read more <i class="fa fa-angle-double-right"></i></a></p>
          </div>
          
        </div>
  {% endfor %}

      {% for post in site.categories.works limit:1 offset:2 %}
      <div class="projects__project">            
          <div class="caption">
              <h3>{{ post.title }}</h3>
              <p>{{ post.description }}</p>
              <p><a href="{{ post.url }}" class=" small-rnd-btn">Read more <i class="fa fa-angle-double-right"></i></a></p>
          </div>
          <div class="thumbnail">
          <img src='/images/posts/{{ post.img["thumb"] }}'>
        </div>
        </div>
  {% endfor %}
  </div>

</div>
</section>


<section class="tabs">
<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link tab-header is-active">Skills</a>
    <div class="tab-content">
    <ul class="skills-list">
      <li> <i class="fa fa-code"></i> Full stack development, with a strong emphasis on the front end.</li>
      <li> <i class="fa fa-line-chart"></i> Internet marketing strategy and search engine optimization.</li>
      <li> <i class="fa fa-eye"></i> The fundamentals of design, user experience, and accessibility.</li>
      <li> <i class="fa fa-users"></i> Working with, and leading a team.</li>
      <li> <i class="fa fa-graduation-cap"></i>High calibre writing and clear communication.</li>
    </ul>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link tab-header"> Résumé </a>
    <div class="tab-content">

      <section class="resume">
        <div class="resume__paper">
          <h3>Work Experience</h3>
          <h4>Founder and Web Developer</h4>
          <em>MyStorybook.com</em>
          <span class="pull-right">April - October 2014 </span>
          <p>Built a large interactive website for students to make storybooks. Web development included front end design and development with responsive elements, back end development with user authentication, payment, and administration. Marketed and grew community organically to over 6000+ users since september.</p>

          <h4>Senior Link Builder</h4>
          <em>Powered by Search</em>
          <span class="pull-right"> January 2014 – April 2014 </span>
          <p>Managed and trained a team of 5-7 people to do marketing outreach for small and medium sized businesses. Developed and executed marketing outreach strategies for over 50 businesses of varying sizes. Built internal tools, and helped set up several processes to increase productivity, traffic, and leads.</p>

          <h4>Internet Marketing Specialist</h4>
          <em>Small Business Online Coach</em>
          <span class="pull-right">April 2012 – December 2013 </span>
          <p>Website content creation and copywriting, marketing outreach, keyword research and search engine optimization. Developed and used automation tools to improve team’s workflow and efficiency.</p>



          <h3>Education</h3>
          <ul>
          <li>Honors Bachelor of Arts: Ethics Society and Law</li>
          <li>University of Toronto, Trinity College</li>
          <li>Graduated with high distinction</li>
          </ul>

          <h3>Extracurricular Activities</h3>

          <h4>Maker & Hacker</h4>
          <ul>
            <li>Hacked together several applications and synthesizers using C++, micro-controllers, and signal processing software.</li>
            <li>Designed and built a magnetic piano-synthesizer using a micro-controller and hall-effect sensors.</li>
            <li>Avid guitarist interested in sound design, and audio signal processing, live music, recording.</li>
          </ul>

          <h4>Amateur Political Philosopher</h4>    
          <p>Interested in institutional cooperation, cognitive biases and social change.</p>         
          <span class="pull-right">  Fall 2010</span>
        <p>Mentor for a <a href="http://www.thestar.com/news/2007/12/31/povertystricken_offered_glimpse_of_academic_life.html">weekly community humanities</a> class at the University of Toronto. Led group discussions on political philosophy readings.</p>
          <span class="pull-right">2011-2012</span>
          <p>Senior Editor and Designer of <a href="http://www.utesl.com/mindful.html">Mindful: Journal of Ethics, Society, and Law</a></p>
          <span class="pull-right"> July 2013</span>
          <p>Co-author of a <a href="http://www.academia.edu/4050511/_Canadian_Mining_Companies_Bad_Record_Abroad_by_Russell_Hoy_and_John_Duncan_The_CCPA_Monitor_Vol._20_No._3_July_August_2013_p._39">short paper</a> about Canadian mining companies for the Canadian Center for Policy Alternatives.</p>
          <br>
         </div>
      </section>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link tab-header">Toolbelt</a>
    <div class="tab-content">
      <p>
      <h3>Here are some technologies, frameworks, and toolsets I have been using.</h3>
      <p><em>(Some of these are still a work in progress: W.I.P.)</em></p>
    <table cellspacing="0" cellpadding="0">
    <tbody><tr>
      <th>Front End</th><th>Back End</th><th>Other</th>
    </tr>
    <tr>
      <td>Semantic HTML5</td><td>Ruby on Rails</td><td>SEO, SEM, PPC, Analytics</td>
    </tr>
    <tr class="even">
      <td>CSS3 + SASS, SVG</td><td>Wordpress (+ basic PHP)</td><td>Sketch, Photoshop, Blender3d</td>
    </tr>
    <tr>
      <td>Javascript, JQuery, Backbone (W.I.P.) & Angular (W.I.P) </td><td> Node + Express (W.I.P.)</td><td>Git, Grunt, Bower, Yeoman</td>
    </tr>
    <tr>
      <td>Accessibility & WCAG 2.0 (W.I.P) </td><td>Firebase & Meteor (W.I.P)</td><td>Mockup Software</td>
    </tr>
  </tbody></table>

      </p>    
    </div>
  </li>
</ul>
</section>

