---
layout: default
title: Russell Hoy | Web Developer
---

<div id="triangles">
  <canvas id="triangle-canvas"></canvas>
</div>

<section class="portfolio__header">
  <div class="intro-text">{% include shared/russell-hoy.html %}</div>
</section>

<section class="projects">
  <h1>Featured Projects</h1>
  <div class="project-display">
    {% for post in site.categories.works limit:1 %}
    <div class="projects__project_primary">
      <div class="thumbnail">
        <img
          src='/images/posts/{{ post.img["thumb"] }}'
          alt="preview screenshot of project"
        />
      </div>
      <div class="caption">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <p>
          <a href="{{ post.url }}" class="small-rnd-btn"
            >Read more <i class="fa fa-angle-double-right"></i
          ></a>
        </p>
      </div>
    </div>
    {% endfor %}

    <div class="projects__secondary">
      {% for post in site.categories.works limit:10 offset:1 %}
      <div class="projects__project">
        <a href="{{ post.url }}" class="unstyled-link">
          <div class="caption">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <p>
              <a href="{{ post.url }}" class="small-rnd-btn"
                >Read more <i class="fa fa-angle-double-right"></i
              ></a>
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="profile">
  <div class="profile__inner">
    <h1 class="profile__header">About Me</h1>
    <div class="profile__description">
      <p>
        I've been fiddling with computers to create music, sound effects, and
        graphics since I was a teenager, but when I studied political philosophy
        in university, I got really excited what computers will help us do next.
      </p>
      <p>
        The things we build can change our behaviour and give us new
        capabilities, and thats what motivates me to craft delightful,
        accessible interfaces that solve important problems.
      </p>
    </div>
  </div>
</section>
